#yith-wcwtl-output {
    margin-bottom: 20px;
}
#yith-wcwtl-output:after,
#yith-wcwtl-output:before {
    content: '';
    clear: both;
    display: table;
}
#yith-wcwtl-output input, #yith-wcwtl-output p, #yith-wcwtl-output label {
    margin-bottom: 10px;
}

/** MY ACCOUNT TABLE **/
table.my_account_waitlist .product-info img {
    max-width: 50px;
    height: auto;
}
table.my_account_waitlist .product-info {
    display: inline-block;
    text-decoration: none !important;
    box-shadow: none;
}
table.my_account_waitlist .product-image,
table.my_account_waitlist .product-title {
    display: inline-block;
    vertical-align: middle;
}
table.my_account_waitlist .product-title {
    margin-left: 5px;
}
table.my_account_waitlist .waitlist-product-variation ul {
    margin-bottom: 0;
    list-style: none;
}

@media (max-width: 768px) {
    table.my_account_waitlist .waitlist-actions:before {
        content: '' !important;
    }
}
